# Project place file
/rsml-luau.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# MacOS file system clutter.
._*
.DS_STORE

/sourcemap.json
/test

/rbxts/src
/rbxts/test
/rbxts/LICENSE.md
/rbxts/package.json